{{ define "main" }}
  {{ partial "top.html" . }}
  {{ partial "breadcrumb.html" . }}

  <div class="tm-bottom-d-box tm-full-width  ">
    <div class="uk-container uk-container-center">
      <section id="tm-bottom-d" class="tm-bottom-d uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
        <div class="uk-width-1-1">
          <div class="uk-panel">
            <div class="last-video-wrap">
              <div class="uk-container uk-container-center">
                <div class="uk-grid">
                  <div class="uk-width-medium-1-1 uk-width-small-1-1 partners-slider">
                    <div class="uk-slidenav-position">
                      <ul class="uk-grid uk-slideset uk-grid-width-1-1 uk-grid-width-large-1-5 uk-grid-width-medium-1-5 uk-grid-width-small-1-2">
                        {{ range .Pages.ByTitle }}
                          <li><a href="{{ .Params.website }}" target="_blank"><img src="{{ .Params.photo  | relURL }}" alt="{{ .Title }}"></a>
                        {{ end }}
                      </ul>
                    </div>             
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="tm-top-d-box">
    <div class="uk-container uk-container-center">
      <section id="tm-top-d" class="tm-top-d uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
        <div class="uk-width-1-1">
          <div class="uk-panel">
            <div class="donate-wrap">
              <div class="donate-inner">
                <h3><span>POURQUOI DEVENIR PARTENAIRE </span><br>DU RC VICHY FOOTBALL ?</h3>
                <div class="uk-grid">
                  <div class="uk-width-8-10 uk-push-1-10 intro-text">
                    <ul>
                      <li><span>MONTRER SON DYNAMISME</span></li>
                      <li>ACQUÉRIR DE NOUVEAUX CLIENTS</li>
                      <li><span>VÉHICULER L’IMAGE DE L’ENTREPRISE</span></li>
                      <li>AFFIRMER SA PRÉSENCE SUR LE MARCHÉ</li>
                      <li><span>MIEUX FAIRE CONNAÎTRE SES VALEURS</span></li>
                      <li>AVOIR ACCÈS À DES RÉDUCTIONS FISCALES ET DE NOMBREUX AVANTAGES</li>
                      <li><span>FÉDÉRER VOTRE ÉQUIPE AVEC UN INTÉRÊT COMMUN</span></li>
                      <li>LIER L’ENTREPRISE AUX VALEURS SPORTIVES QUI SONT DES VALEURS POSITIVES (PERFORMANCE DANS LA
                        COMPÉTITION, DÉPASSEMENT DE SOI, L’ESPRIT D’ÉQUIPE)</li>
                      <li><span>BÉNÉFICIER DE LA COUVERTURE MÉDIATIQUE DU CLUB (JOURNAUX, SITE INTERNET, RÉSEAUX
                          SOCIAUX, ETC)</span></li>
                      <li>AUGMENTER POSITIVEMENT LA NOTORIÉTÉ DE L’ENTREPRISE</li>
                    </ul>
                  </div>
                </div>
                <h3><span>MAIS AUSSI...</span></h3>
                <div class="uk-width-8-10 uk-push-1-10 intro-text">
                  <ul>
                    <li>LE MESSAGE SUR LE MAILLOT EST DÉMULTIPLIÉ PAR LE NOMBRE DE JOUEURS CE QUI AUGMENTE L’IMPACT
                      SUR LE CONSOMMATEUR</li>
                    <li><span>LE RCV MET EN PLACE DIFFÉRENTES POSSIBILITÉS DE SPONSORING ADAPTÉES À CHAQUE
                        BUDGET</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
{{ end }}