<div class="toolbar-wrap">
  <div class="uk-container uk-container-center">
    <div class="tm-toolbar uk-clearfix uk-hidden-small">
      <div class="uk-float-right">
        <div class="uk-panel">
          <div class="social-top">
            <a href="https://fr-fr.facebook.com/RCVichyfootball/" target="_blank"><span
                class="uk-icon-small uk-icon-hover uk-icon-facebook"></span></a>
            <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-instagram"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tm-menu-box">
  <div style="height: 70px;" class="uk-sticky-placeholder">
    <nav style="margin: 0px;" class="tm-navbar uk-navbar" data-uk-sticky="">
      <div class="uk-container" id="containerNavTop">
        <a class="tm-logo uk-float-left" href="index.html">
          <img src="images/LogoRCV.png" alt="logo" title="logo">
          <h1>RC<em>Vichy</em> Football</h1>
          <div id="logoText">
            <p>Racing Club Vichy Football / Ligue d'Auvergne-Rhônes-Alpes - District de l'Allier</p>
          </div>
        </a>
        <ul class="uk-navbar-nav uk-hidden-small">
          <li class="uk-parent uk-active"><a href="index.html">Accueil</a></li>
          <li><a href="manager.html">Dirigeants</a></li>
          <li><a href="team.html">Équipes</a></li>
          <li><a href="club-partenaire.html">Club Partenaire</a></li>
          <li><a href="news.html">Actualités</a></li>
          <li><a href="galery.html">Galerie</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
        <div id="offcanvas" class="uk-offcanvas">
          <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas">
              <li class="uk-parent uk-active"><a href="index.html">Accueil</a></li>
              <li><a href="manager.html">Dirigeants</a></li>
              <li><a href="team.html">Équipes</a></li>
              <li><a href="club-partenaire.html">Club Partenaire</a></li>
              <li><a href="news.html">Actualités</a></li>
              <li><a href="galery.html">Galerie</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>