<div class="tm-bottom-e-box tm-full-width  ">
  <div class="uk-container uk-container-center">
    <section id="tm-bottom-e" class="tm-bottom-e uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
      <div class="uk-width-1-1">
        <div class="uk-panel">
          <div class="map-wrap">
            <div class="contact-form-wrap uk-flex">
              <div class="uk-container uk-container-center uk-flex-item-1">
                <div class="uk-grid  uk-grid-collapse uk-flex-item-1 uk-height-1-1 uk-nbfc">
                  <div class="uk-width-5-10 contact-left uk-vertical-align contact-left-wrap">
                    <div class="contact-info-lines uk-vertical-align-middle">
                      <div class="item phone"><span class="icon"><i class="uk-icon-phone"></i></span>{{.Site.Params.social.telephone }}</div>
                      <div class="item mail"><span class="icon"><i class="uk-icon-envelope"></i></span>
                        <a href="mailto:{{.Site.Params.social.email}}">{{.Site.Params.social.email}}</a>
                      </div>
                      <div class="item location"><span class="icon"><i class="uk-icon-map-marker"></i></span>{{.Site.Params.social.adresse}}</div>
                    </div>
                  </div>
                  <div class="uk-width-medium-5-10 uk-width-small-1-1 contact-right-wrap">
                    <div class="contact-form uk-height-1-1">
                      <div class="uk-position-cover uk-flex uk-flex-column uk-flex-center">
                        <div class="contact-form-title">
                          <h2>Contact</h2>
                        </div>
                        <div id="aiContactSafe_form_1">
                          <div class="aiContactSafe" id="aiContactSafe_mainbody_1">
                            <div class="contentpaneopen">
                              <div id="aiContactSafeForm">
                                <form method="post" id="adminForm_1" name="adminForm_1">
                                  <div id="displayAiContactSafeForm_1">
                                    <div class="aiContactSafe" id="aiContactSafe_contact_form">
                                      <div class="aiContactSafe" id="aiContactSafe_info"></div>
                                      <div class="aiContactSafe_row" id="aiContactSafe_row_aics_name">
                                        <div class="aiContactSafe_contact_form_field_label_left">
                                          <span class="aiContactSafe_label" id="aiContactSafe_label_aics_name">
                                            <label for="aics_name">Nom</label>
                                          </span>&nbsp;
                                          <label class="required_field">*</label>
                                        </div>
                                        <div class="aiContactSafe_contact_form_field_right">
                                          <input name="aics_name" id="aics_name" class="textbox" placeholder="Nom" value="" type="text">
                                        </div>
                                      </div>
                                      <div class="aiContactSafe_row" id="aiContactSafe_row_aics_email">
                                        <div class="aiContactSafe_contact_form_field_label_left">
                                          <span class="aiContactSafe_label" id="aiContactSafe_label_aics_email">
                                            <label for="aics_email">E-mail</label>
                                          </span>&nbsp;
                                          <label class="required_field">*</label>
                                        </div>
                                        <div class="aiContactSafe_contact_form_field_right">
                                          <input name="aics_email" id="aics_email" class="email" placeholder="Email" value="" type="text">
                                        </div>
                                      </div>
                                      <div class="aiContactSafe_row" id="aiContactSafe_row_aics_message">
                                        <div class="aiContactSafe_contact_form_field_label_left">
                                          <span class="aiContactSafe_label" id="aiContactSafe_label_aics_message">
                                            <label for="aics_message">Message</label>
                                          </span>&nbsp;<label class="required_field">*</label>
                                        </div>
                                        <div class="aiContactSafe_contact_form_field_right">
                                          <textarea name="aics_message" id="aics_message" cols="40" rows="10"
                                            class="editbox" placeholder="Message"></textarea>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <br>
                                  <br>
                                  <div id="aiContactSafeBtns">
                                    <div id="aiContactSafeButtons_center" style="clear:both; display:block; text-align:center;">
                                      <table style="margin-left:auto; margin-right:auto;">
                                        <tbody>
                                          <tr>
                                            <td><div id="aiContactSafeSend_loading_1">&nbsp;</div></td>
                                            <td id="td_aiContactSafeSendButton">
                                              <input id="aiContactSafeSendButton" value="Envoyer" type="submit">
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <br>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="map"></div>
            <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
              integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
              crossorigin=""></script>
            <script type="text/javascript">
              // On initialise la latitude et la longitude de Paris (centre de la carte)
              var lat = 46.1344;
              var lon = 3.4144;
              var macarte = null;
              // Fonction d'initialisation de la carte
              function initMap() {
                // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
                macarte = L.map('map').setView([lat, lon], 15);
                // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
                L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                  // Il est toujours bien de laisser le lien vers la source des données
                  attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                  minZoom: 1,
                  maxZoom: 20
                }).addTo(macarte);
                var marker = L.marker([lat, lon]).addTo(macarte);
              }
              window.onload = function () {
                // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
                initMap();
              };
            </script>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>