<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
    {{ block "private_head" . }}{{ end }}
    {{ if .Site.Params.matomo.enable }}
      {{ partial "matomo.html" . }}
    {{ end }}
  </head>

  <body class="tm-isblog">
    <div class="preloader">
      <div class="loader"></div>
    </div>
    <div class="over-wrap">
      {{ partial "header.html" . }}
      {{ block "main" . }}{{ end }}
    </div>

    {{ partial "footer.html" . }}
    {{ partial "script.html" . }}
  </body>

</html>
